a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* 
KEY

colors
#FCFCFC
#E3E3E3
#000000
#ACACAC
#183399 78%

fonts
    font-family: 'Cormorant Garamond', ;
    font-family: 'Roboto', ;
*/

/* generic code */
.wrapper {
    margin: 0 auto; 
    max-width: 960px; 
    padding: 0 10px; 
}
body {
    font-size: 62.5%;
    font-family: 'Cormorant Garamond';
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
.button {
    text-transform: uppercase;
}
h2 {
    font-size: 45px;
    font-weight: 600;
}
h3, 
h4 {
    font-size: 29px;
    font-weight: 600;
}
.button {
    padding: 10px;
    color: #FCFCFC;
    background-color: #183399;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Roboto', ;
}
p {
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 30px;
}

/* header code */
header {
    color: #FCFCFC;
    background-image: url(images/image-1.jpg);
    height: 600px;
    padding: 30px;
    background-size: cover;
}

nav span {
    font-size: 3.5rem;
    margin: 15px 0;
    font-style: italic;
}
 
nav li {
    float: left;
    padding: 20px;
    font-size: 1.2rem;
}
nav ul {
    float: right;
}
.fa-bars {
    display: none;
    color: white;
    font-size: 2rem;
}
h1 {
    clear: both;
    text-align: center;
    margin-top: 11%;
    font-size: 150px;
    font-weight: medium;
}
h1 span {
    display: block;
    font-style: italic;
}
.social-media {
    float: right;
    padding: 10px;
    font-size: 1rem;
    
}
.social-media li {
    padding: 1px;
}
/* MAIN */


/* first section: news articles */
.news-articles h2 {
    text-align: center;
    margin: 47px 40px 40px;
    padding: 15px;
}
.news-articles li {
    float: left;
    width: calc(100% / 3 - 14px);
    /* margin: 7px; */
}
.news-articles img {
    width: 100%;
}
.news-article-img-two {
    margin: 0 14px;
}

/* second section: weeks hilights */
.weeks-highlights {
     clear: both;
     margin-top: 70px;
     padding: 30px;
}
.weeks-highlights div {
    float: left;
    height: 300px;
}

.weeks-highlights--image {
    width: 300px;
}
.weeks-highlights--image img {
    width: 100%;
}

.weeks-highlights--content {
    width: 55%;
    margin-left: 30px;
    position: relative;
}
.weeks-highlights .button {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* third section: highlighted articles */
.highlighted-articles{
    width: 100%;
    clear: both;
    margin: 43px 0 0;
}
.highlighted-articles ul {
    height: 100%;
}
.highlighted-articles li div {
    float: right;
    width: 50%;
}
.highlighted-articles li:nth-child(2n) div {
    float: left;
}
.highlighted-articles li:nth-child(2n) img {
    right: 17.5vw;
    top: 0.7vh;
}

.highlighted-articles img {
    width: 54vw;
    position: relative;
    z-index: -3;
}
.highlighted-articles-content{
    padding: 0 30px 0 0;
    height: 41.5vh;
    background-color: white;

}
.highlighted-articles-content p {
    padding: 0 0 20px;
}
.highlighted-articles-content.two  {
    padding: 70px 30px 0 45px;
}
.highlighted-articles-content.two {
    z-index: -2;
}
.highlighted-articles-image {
    position: relative;
    width: 50vw;
}

/* fourth section: features */
.features {
    background-image: url(images/image-9.jpg);
    background-size: cover;
    clear: both;
    height: 300px;
    color: white;
}
.features ul {
    padding: 3% 11%;
}
.features li {
    float: left;
    text-align: center;
}
.features i {
    font-size: 3rem;
    padding: 81px 81px 10px;
}
/* footer */
footer {
    background-color: #E3E3E3;
    height: 220px;
    padding: 64px;
}
footer h5 {
    font-size: 22px;
    font-weight: bold;
}
form,
.contact-and-info {
    float: left;
}
.contact-and-info {
    line-height: 1.5;
    margin-left: 70px;
}
label#for-email {
    display: block;
    padding: 18px 0;
}
input#email {
    border: none;
    padding: 9px 5px 9px 50px;
}
input#submit {
    border: none;
    border-radius: 0;
    padding: 9px 26px;
    margin: 0;
    background-color: black;
    color: white;
}
.footer-nav {
    text-align: right;
    float: right;
}
.footer-nav li {
    padding: 6px 0;
}
.copy {
    background-color: #ACACAC;
    text-align: center;
    padding: 4px;
}




/* media queries */
 @media only screen and (max-width: 850px) {
    main {
        text-align: center;
    }
    /* header */
    .social-media, 
    nav {
        display: none;
    }
    .fa-bars {
        display: inline;
        float: right;
    }
    h1 {
        font-size: 115px;
    }
    /* first section: news articles  */
    /* second section: weeks hilights */
    .weeks-highlights--image img {
            width: 88%;
        }
    .weeks-highlights--content, 
    .weeks-highlights--image {
        clear: both;
    }
    .weeks-highlights--content {
        margin: 7px 0 0 0;
    }
    .button,
    .weeks-highlights .button {
        float: none;
        position: static;
        margin: 20px;
    }
    .weeks-highlights div, 
    .highlighted-articles li div {
        float: none;
        height: auto;
        width: auto;
    }
    /* third section: hilighted articles */

    .highlighted-articles-content {
        padding: 30px;
    }
    .highlighted-articles img {
        width: 100vw;
        position: relative;
        left: -10px; 
    }
    .highlighted-articles-image,
    .highlighted-articles-content {
        clear: both;
    }
    .highlighted-articles li:nth-child(2n) div {
        float: none;
        top: 0;
    }
    .highlighted-articles-content.two {
        padding: 35px;
    }
    .highlighted-articles-content {
        background-color: transparent;
    }
     /* fourth section: features  */
    .features {
        height: auto;
    }
    .features ul {
        padding: 52px;
    }
    .features li {
        float: none;
    }
    .features i {
        font-size: 8rem;
    }
    h4 {
        padding-bottom: 81px;
    }
    /* footer */
    footer {
        height: auto;
        height: 400px;
    }


}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 70px;
        margin-top: 170px;
    }
    h2 {
        font-size: 22px;
    }    
    /* first section: news articles  */
    .news-articles li{
        width: calc(100vw / 2 - 26px);
        margin: 5px;
    }

    .news-article-img-two {
        margin: 0;
    }
    .news-articles img {
        margin: 5px;
    }
    .news-article-img-three {
        display: none;
    }
    .news-articles h2 {
        margin: 20;
    }
        /* second section: weeks hilights */
        
        .weeks-highlights--image img {
            width: 91%;
        }
    /* third section: hilighted articles */
     /* fourth section: features  */
    .features {
        text-align: center;
    }
    .features i {
    padding: 81px 0 10px; 
    }
    /*  footer */
    
    form {
        float: none;
        text-align: center;
    }
    input#submit {
        padding: 9px 75px;
    }
    .contact-and-info {
        margin-left: 0;
        margin-top: 50px;
    }
    .footer-nav {
        margin-top: 50px;
    }
    .footer-nav{
        padding: 20px 0 0 0;
        height: 300px;
    }

}

@media only screen and (max-width: 370px) {
    h1 {
        font-size: 50px;
    }
    h3, 
    h4 {
        font-size: 19px;
    }
    .weeks-highlights {
        padding: 0;
        margin-top: 0;
    }
    .news-articles h2 {
        margin: 7px
    }
}